<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eddymontesinos.demosqlite_romm">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.RegistrarActivity" />
        <activity android:name=".views.HomeActivity" />
        <activity android:name=".views.DetallePlatoActivity" />
        <activity android:name=".views.DetallePedidoActivity" />
        <activity android:name=".views.HistorialPedidoActivity" />
        <activity android:name=".views.HistorialMainActivity"></activity>
    </application>

</manifest>